/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.back-bg {
  background-image: linear-gradient(to top, #b85a57, #d8ca92, #96cace, #165f69, #474747);
 }

.session-nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: auto;
}

.navbar-nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.drop-marge {
  padding-right: 4%;
}

.name-marge {
  padding-left: 20px;
}

.white-txt {
  color:rgb(223, 223, 223);
}

.card-txt {
  color:#195c72;
}

.grey-txt {
  color:#6d6d6d;
}

.card-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 95px;
}

.gradient-button {
  background: linear-gradient(to bottom, #467281, #0e4152);
  border-style: none;
}
.gradient-button:hover {
  background: linear-gradient(to bottom, #7fb6c9, #195c72);
}